@import url("https://api.fontshare.com/v2/css?f[]=satoshi@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

.contactFormContainer {
  display: flex;
  padding-left: 15px;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  font-family: "Satoshi", sans-serif;
  background-color: white;
  gap: 50px;
  flex-direction: row;
  position: relative;
  overflow: hidden;

  .contactFormHeading,
  .contactFormContent {
    flex: 1;
  }

  .contactFormHeading {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;

    h2 {
      font-size: 8vw;
      color: #333;
      font-weight: 400;
      margin: 0;
      font-family: "Bebas Neue", serif;
    }

    p.aboutHeadingUnderline {
      color: #666;
      font-size: 1.2rem; 
      line-height: 1.4;
    }
  }

  .contactFormContent {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contactform {
    width: 100%;
    max-width: 500px;

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .inputGroup {
        position: relative;

        input,
        textarea {
          width: 100%;
          padding: 10px 0;
          font-size: 1.2rem; 
          border: none;
          border-bottom: 1px solid #ccc;
          outline: none;
          background-color: transparent;
          transition: border-color 0.3s;
          color: #000;

          &:focus {
            border-color: #666;
          }

          &:focus + label,
          &:not(:placeholder-shown) + label {
            top: -16px;
            font-size: 1rem;
            color: #333;
          }
        }

        label {
          position: absolute;
          top: 10px;
          left: 0;
          font-size: 2rem;
          color: #000;
          pointer-events: none;
          transition: 0.3s ease all;
        }
      }

      button {
        width: fit-content;
        padding: 10px 25px;
        font-size: 1.5rem; /* Larger button font */
        color: #fff;
        background-color: #f15a22;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #d14e1f;
        }
      }
    }
  }

  .ball1,
  .ball2 {
    position: absolute;
    border-radius: 50%;
    filter: blur(100px);
    transition: transform 0.2s ease-out;
  }

  .ball1 {
    width: 30vw;
    height: 30vw;
    background-color: rgba(115, 239, 245, 0.3);
    top: 20vw;
    left: 6vw;
  }

  .ball2 {
    width: 20vw;
    height: 20vw;
    background-color: rgba(247, 149, 114, 0.5);
    top: 2vw;
    right: 15vw;
  }

  @media (max-width: 1024px) {
    gap: 20px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 40px 20px;

    .contactFormHeading {
      width: 100%;
      text-align: center;
      padding-left: 0;

      h2 {
        font-size: 7vw; 
      }

      p.aboutHeadingUnderline {
        font-size: 1.1rem;  
        margin-bottom: 20px;
      }
    }

    .contactFormContent {
      width: 100%;
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }

    .contactform {
      max-width: 100%;
      padding: 10px;
    }
  }

  @media (max-width: 480px) {
    .contactFormHeading {
      h2 {
        font-size: 3.3rem; 
      }

      p.aboutHeadingUnderline {
        font-size: 1rem;  
      }
    }

    .contactform {
      padding: 5px 10px;
    }

    .inputGroup {
      input,
      textarea {
        font-size: 1rem; 
      }

      label {
        font-size: 1rem;  
      }
    }

    button {
      padding: 6px 12px;   
      font-size: 0.9rem;  
    }
  }
}
