@import url('https://api.fontshare.com/v2/css?f[]=satoshi@700&display=swap');
.container {
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 2rem;
    padding: 40px 20px 20px 20px;
}

.counterCard {
    padding: 30px;
    text-align: center;
    width: 379px;
    height: 507px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    border-radius: 36px;
    border: 1px solid #373737;
    backdrop-filter: blur(8px);
    font-family: "Satoshi", sans-serif;

    .svgIcon {
        z-index: -1;
        position: absolute;
        top: 10px;
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        opacity: 20%;

        img {
            width: 460px;
            height: 460px;
            object-fit: contain;
        }
    }

    .counterNumber {
        font-size: 100px;
        font-weight: bold;
        color: #333;
        margin-bottom: 10px;
    }

    .counterLabel {
        font-size: 32px;
        color: black;
    }

    &:nth-child(1) {
        .counterNumber {
            color: #00ACB4;
        }
    }

    &:nth-child(2) {
        .counterNumber {
            color: #F15A22;
        }
    }

    &:nth-child(3) {
        .counterNumber {
            color: #00ACB4;
        }
    }
}

@media (max-width: 600px) {
    .container {
        background-color: white; 
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center; 
        align-items: center;
        gap: 20px;
        padding: 10px; 
        margin-top: 0; 
    }

    .counterCard {
        padding: 20px; 
        width: 90%;
        height: auto; 
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        position: relative;
        border-radius: 36px;
        border: 1px solid #373737;
        backdrop-filter: blur(8px);
        font-family: Verdana, Geneva, Tahoma, sans-serif;

        .svgIcon {
            z-index: -1;
            position: absolute;
            top: 10px;
            left: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            opacity: 20%;

            img {
                width: 300px; 
                height: 230px; 
                object-fit: contain;
            }
        }

        .counterNumber {
            font-size: 80px; 
            font-weight: bold;
            color: #333;
            margin-bottom: 10px;
        }

        .counterLabel {
            font-size: 28px; 
            color: black; 
        }

        &:nth-child(1) {
            .counterNumber {
                color: #00ACB4;
            }
        }

        &:nth-child(2) {
            .counterNumber {
                color: #F15A22;
            }
        }

        &:nth-child(3) {
            .counterNumber {
                color: #00ACB4;
            }
        }
    }
}
