@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900;1&display=swap");

.FAQ {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
  color: #575757;
  position: relative;
  margin-bottom: 8rem;

  .FAQs_Box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
    gap: 20px;
    transition: box-shadow 0.3s ease;

    .FAQ_Heading {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;

      h1 {
        margin: 0;
        color: #222222;
        font-family: "Bebas Neue", serif;
        font-weight: 400;
        font-size: 10rem;
        line-height: 1;
        margin-bottom: 3rem;
      }
    }
  }

  .FAQ_Container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100vh;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 1.5rem;
  }

  .FAQItem {
    padding: 4px;
    border-radius: 8px;
    overflow: hidden;
    background-color: transparent;
  }

  .FAQQuestion {
    background-color: #f3f3f3 !important;
    border-radius: 16px;
    width: 100%;
    padding: 15px 20px;
    border: none;
    text-align: left;
    font-size: 1.2em;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
    color: #222222;
    opacity: 70%;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 24px;

    &:hover:not(.expanded) {
      background-color: #fff !important;
      border-radius: none;
    }

    &.expanded {
      background-color: #fff !important;
    }
  }

  .FAQAnswer {
    overflow: hidden;
    transition: max-height 0.5s ease-out, padding 0.5s ease;
    max-height: 0;
    line-height: 30px;
    color: #222222;
    opacity: 70%;
    background-color: #f3f3f3;
    padding: 0 20px;
    font-size: 1.1rem;

    &.open {
      max-height: 400px;
      background-color: #f3f3f3 !important;
      padding: 20px 20px;
    }
  }

  .ball1,
  .ball2 {
    position: absolute;
    border-radius: 50%;
    filter: blur(100px);
    transition: transform 0.2s ease-out;
    z-index: 2;
  }

  .ball1 {
    width: 30vw;
    height: 30vw;
    background-color: #00abb41d;
    top: 20vw;
    left: 4vw;
  }

  .ball2 {
    width: 20vw;
    height: 20vw;
    background-color: #f1592226;
    top: 0vw;
    right: 10vw;
  }
}

/* Responsive adjustments for mobile */
@media (max-width: 600px) {
  .FAQ {
    margin-bottom: 5rem;

    .FAQs_Box {
      .FAQ_Heading {
        h1 {
          font-size: 2rem; 
        }
      }
    }
  }

  .FAQ_Container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100% !important;
    justify-content: center;
    align-items: center;
  }

  #FAQ_ID {
    font-size: 5rem;
  }

  .FAQQuestion {
    background-color: #f3f3f3 !important;
    border-radius: 8px;
    width: 80%;
    padding: 5px 10px;
    border: none;
    text-align: left;
    font-size: 0.9rem;
    font-weight: 500; 
    line-height: 20px; 
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;

    &:hover:not(.expanded) {
      background-color: #f3f3f3 !important;
    }

    &.expanded {
      background-color: #fff !important;
      border-radius: none;
    }
  }

  .FAQAnswer {
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    max-height: 0;
    padding: 0 15px;
    line-height: 24px; 
    background-color: #f3f3f3;
    opacity: 94%;
    font-size: 0.95rem !important; 
    font-weight: 400; 
    color: #222222;

    &.open {
      line-height: 24px;
      max-height: 400px;
    }
  }
}
