@import url('https://api.fontshare.com/v2/css?f[]=satoshi@700&display=swap');

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.landingPage {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    height: 95vh;
    background-color: #efefef;
    overflow: hidden;
    position: relative;

    .content {
        position: relative;
        top: 100px;
        z-index: 10;
    }

    .img img {
        height: 170px;
        width: 180px;
    }

    .word {
        opacity: 0;
        animation: fadeInUp 0.8s ease-out forwards;

        &:nth-child(1) {
            animation-delay: 0.2s;
        }

        &:nth-child(2) {
            animation-delay: 0.4s;
        }

        &:nth-child(3) {
            animation-delay: 0.6s;
        }

        h1 {
            font-family: 'Satoshi', sans-serif;
            font-size: 12vw;
            font-style: normal;
            font-weight: 700;
            line-height: 80%;
            letter-spacing: -0.4vw;
            margin: 0;
            color: #000;
        }

        p {
            font-family: 'Satoshi', sans-serif;
            color: #000;
            margin-top: 20px;
            font-size: 24px;
        }
    }
    .ball1,
    .ball2 {
        position: absolute;
        border-radius: 50%;
        filter: blur(100px);
        transition: transform 0.2s ease-out;
    }

    .ball1 {
        width: 30vw;
        height: 30vw;
        background-color: rgba(0, 172, 180, 0.3);
        top: 20vw;
        left: 6vw;
    }

    .ball2 {
        width: 20vw;
        height: 20vw;
        background-color: #f1592280;
        top: 2vw;
        right: 15vw;
    }
}

@media (max-width: 600px) {
    .landingPage {
        display: flex;
        justify-content: center;
        align-items: center; 
        height: 60vh; 
        background-color: #fff; 
        overflow: hidden;
        position: relative;
        margin: 0; 
        transition: background-color 0.3s ease; 

        &:active {
            background-color: rgba(0, 172, 180, 0.3); 
        }

        .content {
            top: 0; 
            z-index: 10;
            text-align: center; 
            padding: 20px; 
            margin: 0; 
        }

        .word h1 {
            font-family: 'Satoshi', sans-serif;
            font-size: 15vw; 
            font-style: normal;
            font-weight: 700;
            line-height: 80%;
            letter-spacing: -0.4vw;
            margin: 0; 
            color: #000; 
        }

        p {
            font-family: 'Satoshi', sans-serif;
            color: #000; 
            margin-top: 10px; 
            font-size: 5vw; 
        }
    }
}
